body {
    background-color: #191b28;
}
#arena {
    border: solid 3px gray;
    background-color: #131517;
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
    width: auto;
    height: auto;
    padding: 10px;
}

#footer {
    color: white;
    font-size: 20px;
}
